.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.btn {
  color: #4ECCA3;
  font-family: 'Lobster', cursive;
  border-color: #4ECCA3;
  height: 25px;
  font-size: 15px;
}

.betAmount {
  text-align: center;
  color: #4ECCA3;
  margin: 30px;
  font-family: 'Lobster', cursive;
  border-color: #4ECCA3;
}
.marginBot{
  margin-bottom: 40px;
}

#betInput {
  color: #4ECCA3;
  margin: 10px 10px;
  font-family: 'Lobster', cursive;
  border-color: #4ECCA3;
  width: 150px;
  height: 25px;
  font-size: 20px;
  text-align: center;
}
.betButton{
  width: 150px;
}
.betButton:hover {
  background-color: grey;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

h2 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  color: #4ECCA3;
  text-align: center;
}

h3 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  color: #4ECCA3;
  text-align: center;
}

h4 {
  margin: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  color: #4ECCA3;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
